<div class="row" [formGroup]="form" *ngIf="form">
    <div class="col">
        <div *ngFor="let categoryForm of getCategoryFormArray.controls; index as i">
            <ng-container formArrayName="forms">
                <ng-container [formGroupName]="i">
                    <input formControlName="categoryName" class="h3 no-border">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity In Package</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let productForm of getProductFormArray(i).controls; index as j">
                            <ng-container formArrayName="products">
                                <ng-container [formGroupName]="j">
                                    <th scope="row">{{ productForm.get('productId')?.value }}</th>
                                    <td>
                                        <input formControlName="productName">
                                        <span class="badge badge-pill bg-info" *ngIf="productForm.get('isNew')?.value">New!</span>
                                    </td>
                                    <td>
                                        <input formControlName="quantityInPackage">
                                    </td>
                                    <td class="d-flex justify-content-center">
                                        <button class="btn btn-outline-danger mx-2"
                                                (click)="deleteProduct(productForm)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn  btn-outline-primary"
                                                [disabled]="productForm.pristine"
                                                (click)="onSaveButtonClick(productForm)">
                                            <i class="fa fa-save"></i>
                                            
                                        </button>
                                    </td>
                                </ng-container>
                            </ng-container>
                          </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-primary"
                            (click)="onAddProductButtonClick(i)">
                        <span><i class="fa fa-plus"></i> Add product</span>
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>